<phpunit bootstrap='bootstrap.php'
	verbose='true'>
	<testsuites>
		<testsuite name="default">
			<directory suffix='Test.php'>.</directory>
		</testsuite>
	</testsuites>
	<!-- Code coverage configuration -->
	<filter>
		<whitelist>
			<directory suffix=".php">../lick</directory>
			<!-- <exclude>
				<file>../lick/bootstrap.php</file>
			</exclude> -->
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="coverage" charset="UTF-8" highlight="true" />
	</logging>
	<listeners>
		<listener class="\Mockery\Adapter\Phpunit\TestListener" />
	</listeners>
</phpunit>

